.left {
  float: left;
  width: 40%;
  height: 100px;
  overflow-y: scroll;
  background-color: #FC6E51;
  text-align: left;
}

.right {
  float: left;
  overflow-y: scroll;
  height: 100px;
  width: 60%;
  background-color: #4FC1E9;
  text-align: center;
}
.container {
  box-sizing: border-box;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 1em;
}
/*
body {
	font-family: Arial, Helvetica, sans-serif;
}

table {
	font-size: 1em;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}*/
